*{
   
    padding: 0;
    margin: 20px;
    text-align: center;
  
}
body{
    background-color: rgb(208, 247, 240);
}
.question-area{
    border: 1px solid red;
}
.option-container{
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.option-container button{
    border: 1px solid black;
    box-sizing: border-box;
}
.option{
    margin-right: 50px;
}
.mov-sec{
    display: flex;
    width: 50%;
    margin-left: 250px;
    
}
p{
    text-align: center;
    color: rgb(19, 18, 18);
    font-weight: 600;
    font-size: 20px;
}
input{
    align-items: center;
    text-align: left;
}
